<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>本登録画面</title>
</head>
<body>
    <h1>[[__${uid}__]]さんの本登録画面</h1>
        <table>
            <tr>
                <td><label>本のタイトル：</label></td>
                <td>[[${book.title}]]</td>
            </tr>
            <tr>
                <td><label>本の幅：</label></td>
                <td>[[${book.width}]]</td>
            </tr>
            <tr>
                <td><label>本の高さ：</label></td>
                <td>[[${book.height}]]</td>
            </tr>
            <tr>
                <td><label>本の長さ：</label></td>
                <td>[[${book.length}]]</td>
            </tr>
        </table>
        <p>
            <a th:href="@{/book/{uid}/create(uid=${uid})}">続けて登録</a>
            <a th:href="@{/book/{uid}(uid=${uid})">リストに戻る</a>
        </p>
</body>
</html>