<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>過去のレイアウト一覧</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="m-2">
    <h1>過去のレイアウト一覧</h1>
  </div>

  <div class="card m-3">
    <div class="card-header">レイアウト1</div>
    <div class="card-body">
      <img th:src="@{/img/book_hondana_syodana.png}">
    </div>
  </div>

  <div class="card m-3">
    <div class="card-header">レイアウト2</div>
    <div class="card-body">
      <img th:src="@{/img/tosyokan_book_tana.png}">
    </div>
  </div>

  <div class="m-2">
    <a th:href="@{/{uid}/menu(uid=${uid})}">メニュー画面に戻る</a>|
  </div>

</body>

</html>